.network-container {
	padding: 0 0 22px 0;
}

.network {
	margin: 0 0 3px 0;
}

.network img {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.network a {
	text-decoration: none;
}

.status-message-add a {
	color: #999;
	font-size: 10px;
}

.status-update-box {
	margin: 10px 0;
}

#status-text input {
	font-size: 10px;
	width: 200px;
}
